body{
    background-color: bisque;
}

h1{
    font-variant: small-caps;
}

#barraPesquisa {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
   }
   #campoPesquisa {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
   }
   #campoPesquisa:focus {
    outline: none;
   }
   #botaoPesquisa {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
   }
   #botaoPesquisa:hover {
    background-color: #0056b3;
   }